.container2 {
  border-style: solid;
  border-width: 22px;
  border-color: rgb(51, 47, 46);
  padding: 25px 25px 25px 25px;
}

#floatLeft{
  float: left;
}
#floatRight {
  margin-left: 15px;
  overflow: auto;
}