#floatLeft{
    width:100%;
    clear: both;
}

#floatL {
    float: left;
    clear: both;

}

.container{
    float:left;
}

.Container2 {
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: grey;
}

#whiteBox{
    background-color: white;
    padding:5%;
    margin: 5%;
    height:640px;
}

#aboutMe{
    font-size:1.5em;
}


#descriptionText{
    float:left;
    line-height:2em;
    color:darkslategray
}

#whiteBox2 {
    background-color: white;
    padding:5%;
    margin: 5%;
    height:630px; 
}

#contactMe {
    font-size: 1.5em;
}